.edit-container {
  background-color: $color-background-main;
  border: 2px solid $color-text-main;
  border-radius: 4px;
  height: 320px;
  width: 95%;
  margin: 20px 0 0 30px;
}

.edit-reminder-form {
  margin: 20px;
}

label {
  color: $color-text-main;
  display: block;
  text-shadow: 0 .7px 0 $color-background-accent;
  font-size: 20px;
}

.add-reminder-form {
  margin: 20px;
}

.input {
  display: block;
  margin-left: 5px;
  width: 90%;
}

.edit-title,
.edit-date {
  height: 30px;
}

.edit-notes {
  height: 70px;
}
