@import url('https://fonts.googleapis.com/css?family=Raleway:400,700|Taviraj:400,700');

// Fonts

$font-main: 'Taviraj', serif;
$font-secondary: 'Raleway', sans-serif;

// Colors

$color-text-main: #2D3E50;
$color-text-secondary: #E64C66;
$color-background-main: #AEAEAE;
$color-background-accent: #1BBC9B;
