.reminder-title-link {
  color: blue;
  text-decoration: none;
}

.reminder-title .active {
  color: orange;
  font-size: 24px;
}

button.active {
  background-color: gray;
  opacity: 0.5;
  pointer-events: none;
}
