<section class="edit-container">
  <form class="edit-reminder-form" {{action 'editReminder' on="submit"}}>
    {{#with model as |reminder|}}
      <label>
        Title:
        {{input class="input edit-title" value=reminder.title}}
      </label>
      <label>
        Date:
        {{input type="date" class="input edit-date" value=reminder.date}}
      </label>
      <label>
        Notes:
        {{textarea class="input edit-notes" value=reminder.notes}}
      </label>
      {{#link-to 'reminders.reminder' reminder.id class="save-button" tagName="button"}}
        Save
      {{/link-to}}
    {{/with}}
  </form>
</section>
