<section class="new-container">
  <h2 class="new-title-tag">New Reminder</h2>
  <form class="add-reminder-form" {{action 'addReminder' on="submit"}}>
    <label>
      Title:
      {{input class="input input-title" value=title}}
    </label>
    <label>
      Date:
      {{input type="date" class="input input-date" value=date}}
    </label>
    <label>
      Notes:
      {{textarea class="input input-notes" value=notes}}
    </label>
    <button class="submit-button">Submit</button>
  </form>
</section>
