<div class="reminders template">
  <section class="reminders-container">
    {{#each model as |reminder|}}
      <article class="reminder-item">
        <h4 class="reminder-title">
          {{#link-to 'reminders.reminder' reminder.id class="reminder-title-link"}}
            <p class="list-titles">
              {{reminder.title}}
            </p>
            <p class="list-dates">
              {{reminder.date}}
            </p>
          {{/link-to}}
        </h4>
      </article>
    {{/each}}
    {{#link-to 'reminders.new' class="add-new-reminder" tagName="button"}}
    +
    {{/link-to}}
  </section>
  {{outlet}}
</div>
