<div class="main-content">
  <section class="reminders-container">
    {{#each model as |reminder|}}
      <article class="reminder-item">
        <h2 class="reminder-title">
          {{#link-to 'reminders.reminder' reminder.id class="reminder-title-link"}}
            {{reminder.title}}
          {{/link-to}}
        </h2>
        <p class="list-dates">
          {{reminder.date}}
        </p>  
      </article>
    {{/each}}
    {{#link-to 'reminders.new' class="add-new-reminder" tagName="button"}}
    +
    {{/link-to}}
  </section>
  <section class="reminder-area">
    {{outlet}}
  </section>
</div>
