<div class="reminders template">
  <section>
    {{#each model as |reminder|}}
      <article class="reminder-item">
        <h4 class="reminder-title">
          {{#link-to 'reminders.reminder' reminder.id class="reminder-title-link"}}
            {{reminder.title}}
          {{/link-to}}
        </h4>
      </article>
    {{/each}}
  </section>
  {{#link-to 'reminders.new' class="add-new-reminder" tagName="button"}}
    Add new reminder
  {{/link-to}}
  {{outlet}}
</div>
