<div class="reminders template">
  <section>
    {{#each model as |reminder|}}
      <article class="spec-reminder-item">
        <h4 class="spec-reminder-title">
          {{#link-to 'reminders.reminder' reminder.id class="spec-reminder-title-link"}}
            {{reminder.title}}
          {{/link-to}}
        </h4>
      </article>
    {{/each}}
  </section>
  {{#link-to 'reminders.new' class="spec-add-new-reminder"}}
    <button class="add-new-reminder">Add new reminder</button>
  {{/link-to}}
  {{outlet}}
</div>
